    /*Seccion Login*/
    body{
         font-family: Arial, Helvetica, sans-serif;
    }
    section {

        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "Logo"
                            "Identificate"
                            "Formulario ImagenAvatar";
        height: 900px;
    }

    .container {
        margin-left: 20px;
        background-color: #FFF4E1;
        height: 100vh;
    }
    .Logo{
        grid-area: 'Logo';
        display: grid;
        justify-content: center;

    }
    /* calificaciones*/
    .logoCal{
     justify-content: left;
    }
    .contenedorC{
    margin-left: 100px;
    background-color: #FFF4E1;
    }
    /*fin calificaciones*/
    .Logo img {
        height: 200px;
        width: 200px;
        margin: auto;
        margin-top: 3rem;
    }

    .container2{
        padding: 30px;
        background-color: #FFF4E1;
        width: 100%;
        height: 89vh;
    }

    .Identificate{
        display: grid;
        grid-area: 'Identificate';
        justify-content: center;
        color: #D4696C;
        font-size: 30px;
        }

    .Formulario {
        display: grid;
        grid-area: 'Formulario';
        justify-content: center;
    }

    .Formulario label {
        color: #D4696C;
        font-size: 18px;
        margin-left: 40px;
        font-weight: bold;
        width: 400px;

    }
    .Formulario input {
        margin-left: 40px;

    }
    input {
        width: 300px;
        padding: 12px 20px;
        background-color: #FFF4E1;
        border:solid 2px;
        border-radius: 8px;
        border-color: #038554;
    }

    .btn-add3{
        padding: 12px 0px;
        background-color: #68DDBD;
        border-color: #68DDBD;
        font-size: 20px;
        color: #D4696C;
        font-weight: bold;
        margin: 0 40%;
        margin-top: 7%;
        width: 30%;
        border-radius: 20px;
    }

    a {
        font-weight: bold;
        color: #038554;
        text-decoration: none;
    }

    a .forgot{
        margin-left:5px;
    }

    .BotonLogin{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 6rem;
        cursor: pointer;
    }

    .BotonLogin a{
        font-weight: bold;
        color: #D4696C;
        text-decoration: none;
     }

    button {
        width:40%;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #68DDBD;
        border-color: #68DDBD;
        font-size:20px;
        color: #D4696C;
        font-weight: bold;
        margin-top: 0;
    }

    .ImagenAvatar{
        grid-area: 'ImagenAvatar';
    }

    .ImagenAvatar img {
        margin-top: 240px;
        margin-left: 50px;
        height: 550px;
        width: 750px;
    }

    /*Cierre de Seccion Login*/

    /*Seccion Registrate*/
    .flex-container{
        display:flex;
        margin-right: 0%;
        justify-content: space-around;
     }

     .LogoRegistro{
        margin-top: 3rem;
     }

     .LogoRegistro img{
        height: 200px;
        width: 200px;
        margin-left: 17rem;


     }

     .LogoRegistro h3 {
        text-align:center;
        color: #D4696C;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
     }

     /*FORMULARIO*/
     .ImagenRegistro img{
        margin-top: 240px;
        margin-left: 50px;
        height: 450px;
        width: 750px;
     }

     .Formulario {
        display:flex;
        flex-direction: column;
        align-content: center;
        background-color:#FFF4E1;
        margin: 0 5%;

     }

     .FormularioRegistro{
        display: grid;
        justify-content: center;
     }

    .input {
        padding: 12px 20px;
        background-color: #FFF4E1;
        border:solid 2px;
        border-radius: 8px;
        border-color:#038554;
        font-size: 18px;
        color: #D4696C;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .input input {
        font-size: 20px;
        color: #D4696C;

    }

    .but{
        width: 150px;
        height: 50px;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #68DDBD;
        font-size: 20px;
        color: #D4696C;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 30px;

    }



    .salir a {
        text-decoration:none;
        color:#038554;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 50px;
    }


    /*Cierre Seccion Registrate*/

    /*Seccion de calificaciones*/

    .logoCal h3 {
       text-align: center;
       color: #D4696C;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logoCal img {
        height: 200px;
        width: 200px;
        margin: auto;
        margin-top: 3rem;
        display: grid;
        align-item: center;
    }

    .user{
    display: flex;
    justify-content: center;
    background-color: #FFF4E1;
    padding: 0%;
    border-radius: 30px;
    border: 3px solid black;
    width: 15%;
    }

    .user h2{
        font-size: 15px;
    }

    .logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin: 3% 2%;
}
    }

    .containerTabla{
        list-style-type: none;
        background-color: #FFF4E1;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        padding: 10%;

    }

    .containerTabla{
        list-style-type: none;
        background-color: #FFF4E1;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 3%;
    }

    .containerTabla2{
        list-style-type: none;
        background-color: #FFF4E1;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 3%;
        margin-bottom: 5%;
    }

    .containerTabla2 h4 {
        color: #D4696C;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 25px;
    }

    .containerTabla h4 {
        color: #D4696C;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 25px;
    }

    .heading{
    display: flex;
    }

    .InfoGrupo{
        text-align: -webkit-match-parent;
        margin: 0 15%;
    }

    .InfoGrupo2{
        text-align: -webkit-match-parent;
        margin: 0 15%;
        text-align: center;
    }

    .id{
        text-align: center;
    }

    .TitulosGrupo1 tr {
        color: #D4696C;
    }

    .notas{
        margin: 5% 43%;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        padding: 1% 2%;
        width: auto;
    }

    .add{
        font-size: 25px;
        color: #D4696C;
        margin-top: 25px;
    }

    .title{
        background-color: #68DDBD40;
        text-align: center;
        padding: 1%;
        margin: 0 8%;
    }

    .addAl{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .btn-add{
    padding: 12px 0px;
    background-color: #68DDBD;
    border-color: #68DDBD;
    font-size: 20px;
    color: #D4696C;
    font-weight: bold;
    margin: 0 42%;
    margin-top: 7%;
    width: 20%;
    border-radius: 20px;
    }

    .btn-add2{
    padding: 12px 0px;
    background-color: #68DDBD;
    border-color: #68DDBD;
    font-size: 20px;
    color: #D4696C;
    font-weight: bold;
    margin: 0 35%;
    margin-top: 7%;
    width: 35%;
    border-radius: 20px;
    }

    .square{
        background-color: #FFF4E1;
        margin: 5% 30%;
        padding: 3% 0%;
        border-radius: 12px;
        border: 2px solid black;
    }

    .edit{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .square2{
        background-color: #FFF4E1;
        margin: 5% 30%;
        padding: 3% 8%;
        border-radius: 12px;
        border: 2px solid black;
    }

    .page{
        min-height: 100vh;
    }
    /*login*/

    /*botones ver notas y agregar alumno*/
