{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coders University</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all" type="text/css">
</head>

<body>


<div class="containerCalificaciones">

    <div class="logout">
        <a class="salir" href="{% url 'enlaceSalir' %}">Salir</a>
        <span class="user">
                        <h2> Nombre de Usuario: {{ user.username }}</h2>
                    </span>
    </div>
    <article class="logoCal">
        <img src="{% static 'img/logo.png' %}">
        <h3>Grupo 1 - Introducción a la programación</h3>
    </article>
</div>
<div class="containerTabla"><br>

</div>

</body>
</html>