{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coders University</title>
    <!-- carga css  -->
   <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all" type="text/css">
    <!--<link rel="stylesheet" href="style.css">-->
</head>

<body>

<div class="containerCalificaciones">

    <div class="logout">
        <a class="salir" href="{% url 'enlaceSalir' %}">Salir</a>
        <span class="user">
                        <h2> Nombre de Usuario: {{ user.username }}</h2>
                    </span>
    </div>

    <h1 class="title">Editar calificaciones</h1>

<div class="square2">



<form class="edit" method="POST">

        {{formaCalifica}}


      <button class="btn-add2" type="submit">Enviar</button>
      {% csrf_token %}
      <!--variable para pasar validación-->
  </form>

</div>

</body>
</html>